<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <script src="//code.jquery.com/jquery.min.js"></script>
</head>
<body>
    <header>
        <ul>
            <li><a href="/api/images/?user_id=1">작품 list</a></li>
            <li><a href="/image/write">작품정보 입력</a></li>
        </ul>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <h3>안녕하세요!</h3>
        <p>다른 어떠한 요청이 있으시면 알려주세요</p>
        <p>iOS 스쿨 1기 화이팅입니다~</p>
        <p>by. 승권</p>
        <p>yo@yevgnenll.me</p>
    </footer>

</body>
</html>
