{% extends "base.html" %}

{% block title %}
작품 정보 수정
{% endblock %}

{% block content %}

    <div class="form_update">
        <p><input type="text" id="image_url" placeholder="이미지 링크" value="{{ image.image_url }}"></p>
        <p>
            <select id="artist_id">
                {% for artist in artists %}
                    <option value="{{ artist.id }}"
                        {% if artist.id == image.artist_id %}
                            selected
                        {% endif %}
                    >{{ artist.name }}</option>
                {% endfor %}
            </select>
        </p>
        <p><input type="text" id="title" placeholder="작품제목" value="{{ image.title }}"></p>
        <p><input type="text" id="year" placeholder="작품 생성 연도" value="{{ image.year }}"></p>
        <p><input type="text" id="description" placeholder="작품설명" value="{{ image.description }}"></p>
        <button id="update_btn" data-image-id="{{ image.id }}">수정하기</button>
    </div>

    <div class="json">
        <span class="code"></span>
        <span class="result"></span>
    </div>

    <script src="{{ url_for('static', filename='js/images/update.js') }}"></script>

{% endblock %}
